<div class="col-lg-offset-2">
        <div>
            <div class="row divided-row" align="center">
                <h2>{{title}}</h2>
            </div>
            <div class="row divided-row" align="center">
                <p>{{description}}</p>
            </div>
                <div class="row">
                    <div class="col-3"></div>
                    <div class="col-3">
                        <a [routerLink]="['/product-list']" class="btn btn-lg btn-primary">Ver productos</a>
                    </div>
                    <div class="col-3">
                        <a [routerLink]="['/product-add']" class="btn btn-lg btn-primary">Añadir productos</a>
                    </div>
                    <div class="col-3"></div>
                </div>
        </div>
</div>